
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<h1>Filtre Detayları</h1>

<br />
<br />
<br />
<br />
Taşınan Veri : @ViewBag.book_pick_date
Taşınan Veri : @ViewBag.book_off_date
Taşınan Veri : @ViewBag.time_pick
Taşınan Veri : @ViewBag.time_off
Taşınan Veri : @ViewBag.locationId
<br /><br /><br /><br />
